html,
body{

    width:100%;
    height:100%;
    margin:0;
    padding:0;

    overflow:hidden;

    background:black;

    touch-action:none;

    overscroll-behavior:none;

    font-family:Arial,sans-serif;

}

#scene{

    position:fixed;

    inset:0;

    width:100vw;

    height:100vh;

    overflow:hidden;

}

#scene{

position:relative;

width:100vw;

height:100vh;

overflow:hidden;

}

#background{

position:absolute;

inset:0;

background:url("assets/background.png");

background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-position:center;

animation:zoom 30s ease-in-out infinite alternate;

transform-origin:center;

}

@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.03);

}

}

#darkOverlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.25);

}

#lightning{

position:absolute;

inset:0;

background:white;

opacity:0;

mix-blend-mode:screen;

}

#smoke1{

position:absolute;

width:180%;

height:180%;

left:-40%;

top:-20%;

background:
radial-gradient(circle,
rgba(255,255,255,.06),
transparent 70%);

filter:blur(100px);

animation:smoke 55s linear infinite;

}

#smoke2{

position:absolute;

width:180%;

height:180%;

left:-30%;

top:-30%;

background:
radial-gradient(circle,
rgba(255,40,40,.05),
transparent 75%);

filter:blur(120px);

animation:smoke2 80s linear infinite;

}

@keyframes smoke{

from{

transform:translateX(0);

}

to{

transform:translateX(300px);

}

}

@keyframes smoke2{

from{

transform:translateX(0);

}

to{

transform:translateX(-250px);

}

}

#embers{

position:absolute;

inset:0;

pointer-events:none;

}

.spark{

position:absolute;

width:4px;

height:4px;

border-radius:50%;

background:#ff3b3b;

box-shadow:0 0 10px red;

animation:rise linear forwards;

}

@keyframes rise{

from{

transform:translateY(0);

opacity:1;

}

to{

transform:translateY(-300px);

opacity:0;

}

}

#filmgrain{

position:absolute;

inset:0;

opacity:.04;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

mix-blend-mode:overlay;

}

#countdown{

position:absolute;

bottom:20%;

width:80%;

max-width:850px;
left:50%;

transform:translateX(-50%);

display:flex;

gap:clamp(12px,4vw,55px);
color:white;

}

.box{

text-align:center;

}

.box div{

font-size:clamp(36px,7vw,82px);

font-weight:900;

text-shadow:

0 0 15px red,

0 0 40px red;

animation:pulse 2s infinite;

}

.box span{

font-size:18px;

letter-spacing:2px;

}

@keyframes pulse{

0%,100%{

opacity:.9;

}

50%{

opacity:1;

}

}
@media (max-width:900px){

    #countdown{

        width:90%;

        gap:20px;

        bottom:17%;

    }

    .box div{

        font-size:clamp(32px,8vw,60px);

    }

}
@media (orientation:portrait){

    #countdown{

        width:95%;

        gap:12px;

        bottom:22%;

    }

}
